<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入css -->
    <link rel="stylesheet" href="../css/nav-right/web.css">
</head>

<body>
    <div class="web">
        <div class="gro">
            <h2>就业班</h2>
        </div>
        <div class="web-fe">
            <!-- <img src="images/web_fe.png" alt=""> -->
            <span>web前端在线就业班</span>
        </div>
        <div class="high">
            <h2>提高课</h2>
        </div>
        <div class="class-item">
            <ul>
                <li>微信小程序</li>
                <li>深入探索js</li>
                <li>node.js</li>
                <li>bootstrap</li>
                <li>vue.js</li>
                <li>微信小程序</li>
                <li>深入探索js</li>
                <li>node.js</li>
                <li>bootstrap</li>
                <li>vue.js</li>
                <li>微信小程序</li>
                <li>深入探索js</li>
                <li>node.js</li>
                <li>bootstrap</li>
                <li>vue.js</li>
                <li>微信小程序</li>
                <li>深入探索js</li>
                <li>node.js</li>
            </ul>
        </div>
    </div>
</body>

</html>