<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入图标 -->
    <link rel="shortcut icon" href="../favicon.ico" />
    <!-- 引入css -->
    <link rel="stylesheet" href="../views/css/category.css">
    <!-- 引入layui -->
    <link rel="stylesheet" href="../layui/css/layui.css">
    <title>博学谷</title>
</head>

<body>
    <!-- 头部模块 -->
    <header class="header clearfix">

    </header>
    <div class="bottom">
        <i class="layui-icon layui-icon-home"></i>
        <i class="layui-icon layui-icon-app"></i>
    </div>
</body>

</html>