<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入图标 -->
    <link rel="shortcut icon" href="../favicon.ico" />
    <!-- 引入css -->
    <link rel="stylesheet" href="css/index.css">
    <!-- 引入layui -->
    <link rel="stylesheet" href="lib/layui/css/layui.css">
    <title>博学谷</title>
</head>

<body>
    <!-- <div class="container"> -->
    <!-- 导航栏模块 -->
    <header class="header clearfix">
        <img class="post" src="images/邮件.png" alt="">
        <img class="header-logo " src="images/headerLogo.png" alt="">
        <i class="layui-icon layui-icon-search"></i>
    </header>
    <!-- 版心模块 -->
    <div class="banner">
        <img src="images/FE.png" alt="">
    </div>
    <!-- 就业课 -->
    <div class="course-list clearfix">
        <h1>· 就业课 ·</h1>
        <div class="course">
            <img src="images/fe-list.png" alt="">

        </div>
        <div class="course">
            <img src="images/java.png" alt="">
        </div>
        <div class="course">
            <img src="images/data.png" alt="">

        </div>
        <div class="course">
            <img src="images/python.png" alt="">

        </div>
        <div class="course">

            <img src="images/ui.png" alt="">

        </div>
        <div class="course">
            <img src="images/fe-list.png" alt="">
        </div>

    </div>
    <!-- 微课 -->
    <dl class="course-table" id="course_table">
        <div class="list-title">
            <h1>· 就业课 ·</h1>

        </div>
        <dd class="table-list-one">

        </dd>
    </dl>
    <div class="bottom">
        <a href="index.html">
            <i class="layui-icon layui-icon-home"></i>
        </a>
        <a href="category.html">
            <i class="layui-icon layui-icon-app"></i>
        </a>
    </div>
    <!-- </div> -->


    <!-- 导入 layui 的js -->
    <script src="lib/layui/layui.js"></script>
    <!-- 导入 jQuery -->
    <script src="lib/jquery.js"></script>
    <!-- 导入模板引擎 -->
    <script src="lib/template-web.js"></script>
    <!-- 导入自己的 js -->
    <script src="js/index.js"></script>
</body>

</html>