body {
    max-width: 376px;
    margin: 0 auto;
    background: #f5f5f5;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

}

ul {
    list-style-type: none;

}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
/* header */
.header{
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    max-width: 376px;
    top: 0;
    height: 66px;
    background-color: #fff;
}
.header .logo {
vertical-align: middle;
float: left;
margin-left: 10px;
margin-top: 10px;
height: 40px;
max-width: 100%;
}
.header h1 {
    font-size: 26px;
    text-align: center;
    font-weight: 700;
    color: #28abfc;
    padding-top: 14px;
    padding-right: 20px;
}
/* main  */
.main {
    position: relative;
    margin-top: 88px;
    max-width: 376px;
    height: 100%;
    /* background-color: #fff; */
}
.nav-left {
    position: absolute;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: #f5f5f5;
}
.nav-tree-side li {
    height: 56px;
    width: 100px;
    text-align: center;
    background-color: #f5f5f5;

}
.nav-tree-side .nav-item {
    height: 56px;
    width: 100px;
    text-align: center;
    background-color: #fff;

}

.nav-tree-side li a {
    line-height: 56px;
    font-size: 16px;
    color: #000;
    padding-left: 5px;
    
}
.nav-right {
/* position: absolute; */
float: right;
overflow: hidden;
width: 276px;
height: 615px;
/* left:100px; */
background-color: #fff;
}


iframe{
    width: 100%;
    height: 100%;
}
/* bottom */
.bottom {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    max-width: 376px;
    bottom: 0;
    height: 58px;
    background-color: #fff;
}

.bottom .layui-icon-home {
    position: absolute;
    font-size: 48px;
    color: skyblue;
    left: 40px;
    top: 5px;
}

.bottom .layui-icon-app {
    position: absolute;
    font-size: 48px;
    color: skyblue;
    right: 40px;
    top: 5px;
}